header {
  width: 100vw;
  height: 20vh;
  background-color: #ffff;
  border-bottom: 3px rgb(128, 128, 128, 0.1) solid;
}

.logo-container {
  width: 95%;
  display: flex;
  justify-content: flex-end;
}
.logo {
  width: 20vw;
  height: 8vh;
}

.welcome-container-title {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.title {
  margin: 0;
}

h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.welcome-container-subtitle {
  width: 75%;
  padding-left: 2.5rem;
  margin: 0 auto;
  text-align: left;
}

.subtitle {
  font-size: 0.5rem;
}
