.logofilter {
  height: 1.3rem;
  width: 1.3rem;
  margin-right: 1.5rem;
}

.logosearch {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1.5rem;
}

.filter-search {
  background-color: var(--white);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
