header {
  width: 100vw;
  height: 17vh;
  background-color: var(--white);
  border-bottom: 3px rgb(128, 128, 128, 0.1) solid;
}

.logo-container {
  display: flex;
  justify-content: flex-end;
}

.logo {
  width: 17vw;
  max-width: 100px;
  max-height: 100px;
  margin-right: 1rem;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-container-title {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.title {
  color: var(--dark-blue);
}

.welcome-container-subtitle {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  padding-right: 4rem;
  margin: 0 auto;
  text-align: left;
}

.subtitle {
  font-size: 0.5rem;
  color: var(--dark-blue);
  margin-block-start: 0;
  margin-block-end: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
  }

  .logo-container {
    align-items: center;
  }

  h1 {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 1rem;
  }
  .logo {
    max-width: 100px;
    height: 20vh;
    max-height: 100px;
  }
}

  @media screen and (min-width: 1024px) {
    header {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      height: 18vh;
      max-height: 220px;
    }

    .logo-container {
      align-items: center;
    }
    
    h1 {
      font-size: 1.5rem;
    }
    .subtitle {
      font-size: 0.7rem;
    }
    .logo {
      max-width: 150px;
      width: 13vh;
    }