.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  max-width: 500px;
  height: 15vw;
  max-height: 70px;
  background-color: #ffffff;
  color: #303364;
  border-radius: 10px;
}

.button * {
  font-family: var(--font);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .button {
    width: 45vw;
    height: 10vw;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .button {
    width: 25vw;
    height: 10vw;
  }
}