.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96vw;
  height: 15vw;
  max-height: 70px;
  background-color: #ffffff;
  color: #303364;
  border-radius: 10px;
}

.button * {
  font-family: var(--font);;
}