.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 500px;
  height: 15vw;
  max-height: 70px;
  background-color: #ffffff;
  color: #303364;
  border-radius: 10px;
}

.button * {
  font-family: var(--font);
}
