.container-page-mail-delete-profile {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.maildeleteprofile {
  background-color: var(--light-purple);
  height: 9rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--white);
}

.head-tilte-maildeleteprofile,
.head-subtilte-maildeleteprofile {
  margin-left: 3rem;
}

.head-tilte-maildeleteprofile {
  font-size: 1.5rem;
  font-weight: 400;
}

.head-subtilte-maildeleteprofile {
  font-size: 1rem;
  margin-top: 0.5rem;
  font-weight: 200;
  font-style: italic;
}

.subtilte-maildeleteprofile {
  color: var(--dark-blue);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.subtilte-maildeleteprofile h1 {
  margin-bottom: 3rem;
}

.subtilte-mail-delete-profile {
  margin-bottom: 1rem;
}

.buttons-maildeleteprofile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .maildeleteprofile {
    height: 12rem;
  }
  .head-tilte-maildeleteprofile,
  .head-subtilte-maildeleteprofile {
    margin-left: 5rem;
  }
  .head-tilte-maildeleteprofile {
    font-size: 2rem;
  }
  .head-subtilte-maildeleteprofile {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  .subtilte-maildeleteprofile h1 {
    font-weight: 500;
  }
  .subtilte-mail-delete-profile {
    margin-top: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .buttons-maildeleteprofile {
    margin-top: 10rem;
  }
}

@media screen and (min-width: 1024px) {
  .maildeleteprofile {
    height: 12rem;
  }
  .head-tilte-maildeleteprofile,
  .head-subtilte-maildeleteprofile {
    margin-left: 5rem;
  }
  .head-tilte-maildeleteprofile {
    font-size: 2rem;
  }
  .head-subtilte-maildeleteprofile {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  .subtilte-maildeleteprofile h1 {
    font-weight: 500;
  }
  .subtilte-mail-delete-profile {
    margin-top: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .buttons-maildeleteprofile {
    margin-top: 12rem;
  }
}
