.buttonsuivantpost {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    max-width: 500px;
    height: 9vw;
    max-height: 70px;
    background-color: var(--white);
    color: var(--mint-blue);
    border-radius: 10px;
    font-family: var(--font);
  }
  
  @media screen and (min-width: 768px) {
    .buttonsuivantpost {
      width: 20vw;
      border-radius: 20px;
      
    }
  }
  