.bloc-post-category {
  background-color: var(--light-purple);
  width: 100vw;
  height: 850vw;
}

.title-post-category {
  color: var(--white);
  font-family: var(--font);
  padding-top: 2rem;
}
.title-post-category h1 {
  font-size: 1rem;
  font-family: var(--font);
  margin-left: 2rem;
}

.title-post-category h2 {
  font-size: 0.8rem;
  font-family: var(--font);
  padding: 1rem;
  margin-left: 3rem;
  margin-top: 1rem;
}

.checkbox-category {
  color: var(--white);
  padding: 1rem;
  margin-left: 5rem;
}

.checkbox-category-1 {
  margin-bottom: 1rem;
}

.checkbox-category-2 {
  margin-bottom: 1rem;
}

.checkbox-category-3 {
  margin-bottom: 1rem;
}

.checkbox-category-5 {
  margin-top: 1rem;
}

.button-publier {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-top: 2.3rem;
}

.button-publier a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .title-post-category {
    padding-top: 3rem;
  }

  .title-post-category h1 {
    margin-left: 20rem;
  }

  .title-post-category h2 {
    margin-left: 23rem;
  }

  .checkbox-category {
    margin-left: 25rem;
  }

  .button-publier {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20rem;
    margin-top: 15rem;
  }
}
