@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap%22");

:root {
  --dark-blue: #303364;
  --light-red: #ec4d4d;
  --mint-blue: #a7d1cd;
  --mustard: #f8c053;
  --light-purple: #a098c9;
  --white: #ffffff;

  --font: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: var(--font);
}

input {
  color: #bdc3cf;
}
