.logo-conduct {
  height: 20vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.good-conduct {
  color: var(--white);
}
.conduct-title-first h2 {
  font-size: 1.7rem;
  margin-left: 9vw;
  padding-bottom: 10px;
}

.conduct-text {
  font-size: 0.7rem;
  margin-left: 9vw;
  margin-right: 20vw;
}
p {
  font-size: 0.8rem;
  padding-bottom: px;
  padding-top: 5px;
}

strong {
  font-weight: 600;
}

.conduct-title-secondary {
  padding-top: 60px;
  margin-left: 9vw;
}

.checking label {
  margin-left: 2vw;
  font-size: 0.7rem;
}
