.logo-conduct {
  height: 20vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.goodconduct-progressbar {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.good-conduct {
  color: var(--white);
}
.conduct-title-first h2 {
  font-size: 1.7rem;
  margin-left: 9vw;
  padding-bottom: 10px;
}

.conduct-text {
  font-size: 0.7rem;
  margin-left: 9vw;
  margin-right: 20vw;
}
.conduct-text p {
  font-size: 0.8rem;
  padding-bottom: px;
  padding-top: 5px;
}

span {
  font-weight: 500;
}

.conduct-title-secondary {
  padding-top: 60px;
  margin-left: 9vw;
  padding-bottom: 3vh;
}

.checking label {
  margin-left: 2vw;
  font-size: 0.7rem;
}

.conduct-conclusion p {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 6vh;
}

.button-accept-all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .conduct-title-first h2 {
    font-size: 1.8rem;
    margin-left: 12vw;
  }

  .conduct-text {
    font-size: 1rem;
    margin-left: 12vw;
  }

  .conduct-text p {
    font-size: 1rem;
  }

  .conduct-title-secondary {
    margin-left: 12vw;
  }

  .checking label {
    font-size: 1rem;
  }

  .conduct-conclusion p {
    font-size: 1rem;
    margin-left: 7vw;
    margin-right: 10vw;
  }

  .checking {
    margin-left: 3vw;
    margin-right: 10vw;
  }
}

@media screen and (min-width: 1024px) {
  .conduct-title-first h2 {
    font-size: 1.2rem;
    margin-left: 20vw;
  }

  .conduct-text {
    font-size: 0.8rem;
    margin-left: 20vw;
  }

  .conduct-text p {
    font-size: 0.8rem;
  }

  .conduct-title-secondary {
    margin-left: 20vw;
  }

  .checking label {
    font-size: 0.8rem;
  }

  .conduct-conclusion p {
    font-size: 0.8rem;
    margin-left: 9vw;
    margin-right: 10vw;
  }

  .checking {
    margin-left: 11vw;
    margin-right: 10vw;
  }
}
