body {
  background-color: var(--dark-blue);
}
.div-connection {
  background-color: var(--dark-blue);
}


.buttonreturn {
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  .buttonreturn {
    margin-left: 0rem;
  }
}