body {
  background-color: var(--dark-blue);
}

.div-facul-dear {
  background-color: var(--dark-blue);
}

.div-logo-facul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 5rem;
}
.logo-facul {
  width: 5rem;
}
.titlefacul {
  color: var(--white);
  font: var(--font);
  text-align: center;
}
.explicationsdear p {
  color: var(--white);
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.1rem;
}
.titleexplicationsdear,
.titleconceptdear,
.titlecontentdear,
.titlefreedear,
.titleanonymousdear,
.titlelimitepublicationdear,
.titlerulesdear,
.titlebreakrulesdear,
.titleprodear {
  color: var(--white);
  font: var(--font);
  text-align: center;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.conceptdear p,
.numbersdear p,
.contentdear p,
.freedear p,
.anonymousdear p,
.limitepublicationdear p,
.rulesdear p,
.breakrulesdear p,
.prodear p {
  color: var(--white);
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.1rem;
}
.prodear {
  margin-bottom: 2rem;
}

.arrowreturn-facul {
  margin-left: -1rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .div-logo-facul {
    margin-right: 10rem;
  }
  .logo-facul {
    width: 6rem;
  }
  .titlefacul h1 {
    font-size: 1.5rem;
  }
  .explicationsdear p {
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: 0.9rem;
  }

  .titleexplicationsdear,
  .titleconceptdear,
  .titlecontentdear,
  .titlefreedear,
  .titleanonymousdear,
  .titlelimitepublicationdear,
  .titlerulesdear,
  .titlebreakrulesdear,
  .titleprodear {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .conceptdear p,
  .numbersdear p,
  .contentdear p,
  .freedear p,
  .anonymousdear p,
  .limitepublicationdear p,
  .rulesdear p,
  .breakrulesdear p,
  .prodear p {
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: 0.9rem;
  }

  .arrowreturn-facul {
    margin-left: -3rem;
  }
}

@media screen and (min-width: 1024px) {
  .div-logo-facul {
    margin-right: 18rem;
  }
  .logo-facul {
    width: 8rem;
  }
  .titlefacul h1 {
    font-size: 2rem;
  }

  .titleexplicationsdear h2,
  .titleconceptdear h2,
  .titlecontentdear h2,
  .titlefreedear h2,
  .titleanonymousdear h2,
  .titlelimitepublicationdear h2,
  .titlerulesdear h2,
  .titlebreakrulesdear h2,
  .titleprodear h2 {
    font-size: 1.2rem;
  }

  .explicationsdear p {
    margin-left: 20rem;
    margin-right: 20rem;
    padding: 0.1rem;
    font-size: 1rem;
  }
  .conceptdear p,
  .numbersdear p,
  .contentdear p,
  .freedear p,
  .anonymousdear p,
  .limitepublicationdear p,
  .rulesdear p,
  .breakrulesdear p,
  .prodear p {
    margin-left: 20rem;
    margin-right: 20rem;
    font-size: 1rem;
  }
  .arrowreturn-facul {
    margin-left: -13rem;
  }
}
