body{
  background-color: var(--dark-blue);
}

.div-facul-dear{
  background-color: var(--dark-blue);
}

.div-logo-facul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 1rem;
}
.logo-facul {
  width: 5rem;
}
.titlefacul {
  color: var(--white);
  font: var(--font);
  text-align: center;
}
.explicationsdear p {
  color: var(--white);
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.1rem;
}
.titleexplicationsdear,
.titleconceptdear,
.titlecontentdear,
.titlefreedear,
.titleanonymousdear,
.titlelimitepublicationdear,
.titlerulesdear,
.titlebreakrulesdear,
.titleprodear {
  color: var(--white);
  font: var(--font);
  text-align: center;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.conceptdear p,
.numbersdear p,
.contentdear p,
.freedear p,
.anonymousdear p,
.limitepublicationdear p,
.rulesdear p,
.breakrulesdear p,
.prodear p {
  color: var(--white);
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.1rem;
}
.prodear {
  margin-bottom: 2rem;
}

.arrowreturn-facul {
  margin-left: -1rem;
}

@media screen and (min-width: 768px) {
  .div-logo-facul {
    margin-right: 22rem;
  }
  .logo-facul {
    width: 10rem;
  }
  .titlefacul h1 {
    font-size: 1.8rem;
  }
  .explicationsdear p {
    margin-left: 20rem;
    margin-right: 20rem;
    padding: 0.1rem;
  }
  .conceptdear p,
  .numbersdear p,
  .contentdear p,
  .freedear p,
  .anonymousdear p,
  .limitepublicationdear p,
  .rulesdear p,
  .breakrulesdear p,
  .prodear p {
    margin-left: 20rem;
    margin-right: 20rem;
  }
  .arrowreturn-facul {
    margin-left: -8rem;
  }
}
