.div-logo-intro {
  height: 35vh;
  margin: 0 auto;
}

.intro-adult-container {
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.logo-intro-adult {
  width: 90vw;
  max-width: 400px;
}

.more18 {
  color: var(--white);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.buttons-intro a {
  text-decoration: none;
}

.button-return-intro {
  margin-left: -18rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .button-return-intro {
    margin-left: -46rem;
  }
}

@media screen and (min-width: 1024px) {
  .more18 {
    margin-top: 8rem;
  }

  .button-return-intro {
    margin-left: -95rem;
  }
}
