@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  background-color: var(--dark-blue);
}

.intro-container {
  background-color: var(--dark-blue);
  animation: flash 1s linear;
  animation-delay: 0.5s;
  animation-iteration-count: 2;
}

.div-logo-intro {
  height: 35vh;
  margin: 0 auto;
}

.intro-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.bienvenue-container {
  padding-top: 1rem;
  height: 15vh;
  max-height: 70px;
  animation: bienvenue-container 2s;
}

.bienvenue-text {
  animation: bienvenue 5s;
  color: var(--white);
  font-size: 2rem;
  visibility: hidden;
}

.logo-intro {
  width: 90vw;
  max-width: 400px;
  animation: mylogo 2s;
  margin: 0 auto;
}

@keyframes bienvenue {
  0%,
  10%,
  20%,
  30%,
  50%,
  70% {
    visibility: hidden;
  }
  80% {
    visibility: visible;
    font-size: 2rem;
  }
  90%,
  100% {
    visibility: hidden;
  }
}

@keyframes mylogo {
  0% {
    transform: scale(0.33);
  }
  50% {
    transform: scale(0.66);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes flash {
  0% {
    background-color: white;
  }
}

.buttons-intro {
  height: 40vw;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttons-intro,
.button-facul-intro,
.buttons-intro * {
  animation: flash-accueil 5s;
}

.button-facul-intro {
  padding: 0.7rem;
}

@keyframes flash-accueil {
  0% {
    visibility: hidden;
  }

  90% {
    visibility: hidden;
  }
  100% {
    visibility: initial;
  }
}

@media screen and (min-width: 768px) {
  .bienvenue-text {
    margin-top: 8rem;
  }

  .buttons-intro {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
