@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  background-color: var(--dark-blue);
}

.intro-container {
  background-color: var(--dark-blue);
  animation: flash 1s linear;
  animation-delay: 0.5s;
  animation-iteration-count: 2;
}

.div-logo-intro {
  height: 35vh;
  margin: 0 auto;
}

.intro-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.bienvenue-container {
  padding-top: 1rem;
  height: 15vh;
  max-height: 70px;
  animation: bienvenue-container 2s;
}

.description-container {
  display: flex;
  justify-content: center;
}

.description-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.description-text-first {
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: #a098c9;
  border-radius: 20px;
}

.description-text-bis {
  display: flex;
  flex-direction: row-reverse;
  padding: 0.5rem;
  color: white;
  font-size: 1.2rem;
  border-radius: 20px;
  background-color: #a7d1cd;
  width: 52vw;
  max-width: 200px;
  min-width: 200px;
  margin-bottom: 1rem;
}

.bienvenue-text {
  animation: bienvenue 5s;
  color: var(--white);
  font-size: 2rem;
  visibility: hidden;
}

.logo-intro {
  width: 80vw;
  max-width: 400px;
  animation: mylogo 2s;
  margin: 0 auto;
}

@keyframes bienvenue {
  0%,
  10%,
  20%,
  30%,
  50%,
  70% {
    visibility: hidden;
  }
  80% {
    visibility: visible;
    font-size: 2rem;
  }
  90%,
  100% {
    visibility: hidden;
  }
}

@keyframes mylogo {
  0% {
    transform: scale(0.33);
  }
  50% {
    transform: scale(0.66);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes flash {
  0% {
    background-color: #a098c9;
  }
}

.buttons-intro {
  height: 40vw;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.description-container *,
.buttons-intro,
.button-facul-intro,
.buttons-intro * {
  animation: flash-accueil 5s;
}

.button-facul-intro {
  padding: 0.7rem;
}

@keyframes flash-accueil {
  0% {
    visibility: hidden;
  }

  90% {
    visibility: hidden;
  }
  100% {
    visibility: initial;
  }
}
@media screen and (min-width: 350px) and (max-width: 360px) {
  .logo-intro {
    width: 65vw;
  }
}
@media screen and (min-width: 361px) and (max-width: 380px) {
  .logo-intro {
    width: 60vw;
  }
}

@media screen and (orientation: portrait) and (min-width: 780px) {
  .description-text-bis {
    font-size: 1.5rem;
    max-width: 250px;
  }
  .description-text-first {
    font-size: 1.5rem;
    max-width: 420px;
  }
}
@media screen and (min-width: 321px) and (max-width: 799px) {
  .bienvenue-text {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 799px) {
  .bienvenue-text {
    margin-top: 8rem;
  }
}
@media screen and (min-width: 768px) {
  .bienvenue-text {
    margin-top: 8rem;
  }

  .buttons-intro {
    margin-top: 2rem;
  }
}
@media screen and (orientation: landscape) {
  .intro-container {
    justify-content: unset;
  }
  .logo-intro {
    width: 20vw;
  }
  .button {
    height: 12vh;
    width: 25vw;
    margin: 0.5rem;
  }
}
