.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17vh;
}

.inputPseudo,
.inputLogPassword {
  width: 90vw;
  border-radius: 10px;
  height: 3.5rem;
  border: none;
  margin-bottom: 40px;
}

.inputPseudo,
.inputLogPassword,
::placeholder {
  padding-left: 20px;
  font-size: 1.1rem;
  color: #bdc3cf;
}

.inputLogPassword,
.inputPseudo {
  color: var(--dark-blue);
}

.inputLogPassword {
  margin-bottom: 10vh;
}

.loginbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 500px;
  height: 15vw;
  max-height: 70px;
  background-color: var(--mint-blue);
  color: var(--white);
  border-radius: 10px;
  font-family: var(--font);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .inputLogPassword,
  .inputPseudo {
    width: 30vw;
    height: 3.8rem;
  }
  .inputLogPassword {
    margin-bottom: 15vh;
  }
  .loginbutton {
    width: 30vw;
  }
}
