@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  background-color: var(--dark-blue);
}

.div-registration {
  background-color: var(--dark-blue);
  max-height: 844vw;
}
