.register-title h2 {
  color: var(--white);
  font-family: var(--font);
  text-align: center;
  margin-top: 17vh;
  font-weight: 300;
  margin-bottom: 1vh;
}

.form-register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputEmail,
.inputPassword,
.inputConfirmPassword {
  width: 90vw;
  border-radius: 10px;
  height: 3.5rem;
  border: none;
  margin-bottom: 40px;
}

.inputEmail,
.inputPassword,
.inputConfirmPassword,
::placeholder {
  padding-left: 20px;
  font-size: 1.1rem;
  color: #bdc3cf;
}

.inputPassword,
.inputConfirmPassword,
.inputEmail {
  color: var(--dark-blue);
}

.div-arrow-return {
  margin-left: -1rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .inputEmail,
  .inputPassword,
  .inputConfirmPassword {
    width: 50vw;
    border-radius: 10px;
    height: 4rem;
  }
  .register-title h2 {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1024px) {
  .inputEmail,
  .inputPassword,
  .inputConfirmPassword {
    width: 30vw;
    height: 3.8rem;
  }
  .register-title h2 {
    font-size: 1.1rem;
  }
}

a {
  text-decoration: none;
}
